body{
    background-color: pink;
}
.product{
    display: inline-block;
    margin: 10px;
border: 1px solid red;
background-color: blueviolet;

}

.product_image{

    width: 200px;
    height: 300px;
}
#container{
text-align: center;
    padding-left: 30px;
}
.product_button{
    background-color: green;
}
#product1{
    border: solid black;
}
#product2{
    border: none;
}

    
